/* 
Youssef Selkani 
2019
*/

html,
body {
   font-family: 'Rubik', sans-serif;
}

.master {
   background-color: #f1f1f2;
   width: 100%;
   height: 100vh;
   padding-top: 3%;
}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   width: 298px;
   height: 79px;
}

.timestamp {
   font-size: 45px;
   font-weight: 700;
   /* background-color: blue; */
   width: 300px;
   margin-top: 5%;
}

.divider {
   margin: 3%;
}

.days {
   min-width: 80px;
}

.hours {
  width: 70px;
}

.minutes {
  width: 70px;
}

.seconds {
  width: 70px;
}

.time-label {
   font-size: 10px;
   font-weight: 300;
}

.coming-soon {
   font-weight: 700;
   margin-top: 1%;
}

.banner {
   background-color: #fff;
   color: #cc0000;
   text-align: center;
   position: relative;
   overflow: hidden;
   width: 936px;
   height: 288px;
   margin: 0 auto;
}

.banner-small {
   background-color: #fff;
   color: #cc0000;
   text-align: center;
   position: relative;
   overflow: hidden;
   width: 720px;
   height: 288px;
   margin: 0 auto;
}

.banner-overlay {
   background-color: #cc0000;
   color: #fff;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   clip-path: polygon(var(--clip1) var(--clip2),
         var(--clip3) var(--clip4),
         var(--clip5) var(--clip6),
         var(--clip7) var(--clip8));
   -webkit-clip-path: polygon(var(--clip1) var(--clip2),
         var(--clip3) var(--clip4),
         var(--clip5) var(--clip6),
         var(--clip7) var(--clip8));
}