/* 
Youssef Selkani 
2019
*/

html,
body {
   font-family: 'Rubik', sans-serif;
}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

.master {
   background-color: #f1f2f3;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
}

.footer {
   color: #fff;
   background-color: #111;
   padding: 1%
}

.logo {
   width: 298px;
   height: 91px;
}

.timestamp {
   font-size: 45px;
   font-weight: 700;
}

.time-label {
   font-size: 14px;
   font-weight: 300;
}

.coming-soon {
   font-weight: 700;
   margin-top: 1%;
}

.banner {
   background-color: #fff;
   color: #cc0000;
   text-align: center;
   position: relative;
   overflow: hidden;
   width: 936px;
   height: 288px;
   margin: 5%;
}

.banner-overlay {
   background-color: #cc0000;
   color: #fff;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   width: 100%;
   clip-path: polygon(
         var(--clip1) var(--clip2),
         var(--clip3) var(--clip4),
         var(--clip5) var(--clip6),
         var(--clip7) var(--clip8));
}